:root {
  /* Theme Colors */
  --green: #5eddac;
  --light-yellow: #fcd37a;
  --pink: #f57ad0;
  --lavender: #a586fb;
  --blue: #59abf7;
  --yellow: #fca62a;

  /* Gray Scale */
  --gray-0: #f9f9f9;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ccc;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #575757;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;

  /* Dark Theme */
  --background-color: var(--gray-10);
  --navbar-background-color: var(--gray-9);
  --card-background-color: var(--gray-9);

  --font-color-heading: white;
  --font-color-base: var(--gray-4);
  --font-color-muted: var(--gray-5);
  --font-color-bright: white;

  --border-color: var(--gray-6);
  --border-radius: 12px;

  --button-background-color: var(--gray-8);
  --button-border-color: var(--gray-6);

  --link-color: var(--light-yellow);
  --link-hover-color: white;

  --navbar-color: var(--gray-4);
  --navbar-color-hover: white;
  --navbar-highlight: var(--yellow);

  /* Sizes */
  --content-width: 960px;
  --navbar-height: 60px;

  /* Font Family */
  --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: "Fira Code", "Consolas", monospace;
}
